extends layout

block content
  h1= title
  p  #{title} api接口说明

  li 商品：
  a(href="http://120.77.183.98:3002/goods/") http://120.77.183.98:3002/goods/

  li 玩家：
  a(href="http://120.77.183.98:3002/users/") http://120.77.183.98:3002/users/

  li 游戏开关：
  a(href="http://120.77.183.98:3002/switch/") http://120.77.183.98:3002/switch/		
 