extends layout

block content
  h1= title
  p  #{title} switch api接口说明

  li  删除对应游戏开关:
  a(href="http://localhost:3002/switch/switchDel?name=haha") http://localhost:3002/switch/switchDel?name=haha

  li 添加游戏开关：
  a(href="http://localhost:3002/switch/switchAdd?name=huhu&switch=1") http://localhost:3002/switch/switchAdd?name=huhu&switch=1

  li 通过name修改游戏开关：
  a(href="http://localhost:3002/switch/switchUpdate?name=huhu&switch=0") http://localhost:3002/switch/switchUpdate?name=huhu&switch=0

  li 查询所有开关：
  a(href="http://localhost:3002/switch/switchAll	") http://localhost:3002/switch/switchAll		

  li 查询单个游戏开关：
  a(href="http://localhost:3002/switch/switchByName?name=haha") http://localhost:3002/switch/switchByName?name=haha
  
  